.smallvideo{
    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
        line-height: 39px;
    }
    .search{
        float: right;
    }
    .el-row2{
        margin-top: 10px;
        border-top: 1px solid #e0e0e0;
    }
    .el-table .warning-row {
        background: red;
    }
    .el-table .success-row {
        background: red;
    }
}